@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Work+Sans:wght@400;600;700&display=swap');

:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-Grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
body {
  font-family: 'Overpass', sans-serif;
  font-size: 18px;
  background-color: var(--very-dark-blue);
}

.main-container {
  background-color: var(--dark-blue);
  color: var(--medium-Grey);
  font-weight: 600;
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 40px;
  border-radius: 40px;
}

.main-container .star {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: hsl(212, 19%, 26%);
  display: grid;
  place-items: center;
}

.main-container img {
  height: 20px;
  width: 20px;
}

.main-container h1 {
  color: var(--white);
  font-size: 35px;
  margin: 40px 0 20px;
}

.main-container p {
  margin-bottom: 40px;
}

.main-container .numbers {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.main-container .numbers button {
  width: 60px;
  height: 60px;
  background-color: hsl(212, 19%, 26%);
  color: var(--light-grey);
  font-size: 20px;
  font-weight: 700;
  border-radius: 50%;
  border: none;
}

.main-container .submit {
  background-color: var(--orange);
  height: 55px;
  color: var(--white);
  letter-spacing: 3px;
  font-size: 19px;
  font-weight: 700;
  border-radius: 50px;
  border: none;
}

.main-container .thank-img {
  height: 120px;
  width: 120px;
  object-fit: cover;
}